@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Fugaz One', cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
}
